<div class="m-h-screen flex h-screen flex-col bg-accent-1 text-lg text-content">
  <app-search-bar
    class="fixed top-[55px] z-10 h-10 w-full px-4 xl:hidden"
    (keyword)="processKeyword($event)"
  />
  <div class="mt-[75px] w-full flex-1">
    <section
      class="flex h-full items-center justify-center gap-4 p-4 @container"
    >
      <div
        class="hidden h-full flex-1 flex-col rounded-lg bg-accent-1 p-4 xl:flex"
      >
        <app-search-bar (keyword)="processKeyword($event)" />
        <app-cart class="h-full" />
      </div>

      <div
        class="flex h-full flex-1 items-center justify-center rounded-lg p-6 xl:flex-[0_1_80%]"
      >
        <div class="flex h-full w-full flex-wrap justify-evenly gap-4">
          <app-donut-card
            *ngFor="let donut of donuts$ | async"
            [donut]="donut"
          />
        </div>
      </div>
    </section>
  </div>
  <app-cart-dialog />
</div>
