<div class="flex w-full items-center justify-between">
  <div class="flex cursor-pointer select-none">
    <app-d-svg />
    <img
      class="h-8 w-8 object-cover"
      src="https://d22f1kls6ex9ii.cloudfront.net/donuts/logo2.png"
      alt=""
      srcset=""
    />
    <app-n-svg />
    <app-u-svg />
    <app-t-svg />
  </div>
  <app-navigation [activePage]="activePage" />

  <button
    class="hidden h-fit bg-content px-3 py-1 text-bgc hover:bg-content/75 md:block"
    hlmBtn
  >
    <span> Login </span>
  </button>

  <app-menu class="md:hidden" [activePage]="activePage" />
</div>
