<div class="flex w-full items-center justify-between">
  <div class="flex cursor-pointer select-none">
    <D-SVG />
    <img
      class="h-8 w-8 object-cover"
      src="https://d22f1kls6ex9ii.cloudfront.net/donuts/logo2.png"
      alt=""
      srcset=""
    />
    <N-SVG />
    <U-SVG />
    <T-SVG />
  </div>
  <page-navigation [activePage]="activePage" />

  <button
    class="bg-content text-bgc hover:bg-content/75 hidden h-fit px-3 py-1 md:block"
    hlmBtn
  >
    <span> Login </span>
  </button>

  <app-menu class="md:hidden" [activePage]="activePage" />
</div>
