<div appFlipper class="relative flex h-80 w-52 flex-col">
  <div
    *ngIf="donut"
    appFlipFront
    class="absolute flex flex-1 select-none flex-col justify-between rounded-lg bg-bgc p-4 text-content shadow-lg"
  >
    <button
      appFlipTrigger
      class="absolute right-[-0.75rem] top-[-0.75rem] flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-content text-bgc"
    >
      <ng-icon
        class="text-bgc"
        size="1.5rem"
        name="radixDoubleArrowRight"
      ></ng-icon>
    </button>
    <div class="flex items-center justify-center font-bold">
      <span>{{ donut.name }}</span>
    </div>
    <div class="flex-[0_1_50%] p-6">
      <img src="{{ donut.picture }}" alt="" />
    </div>
    <div
      class="relative top-[-10px] flex items-center justify-center font-semibold"
    >
      <span>{{ donut.price }} $</span>
    </div>
    <div class="flex w-full items-center justify-center">
      <button
        class="w-full rounded bg-accent-2 px-4 font-bold text-pb shadow-md"
        (click)="pushDonut()"
        type="button"
      >
        Add
      </button>
    </div>
  </div>

  <div
    *ngIf="donut"
    appFlipBack
    class="absolute flex-1 select-none rounded-lg bg-bgc p-2 shadow-lg"
  >
    <button
      appFlipTrigger
      class="absolute right-[-0.75rem] top-[-0.75rem] flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-content text-bgc"
    >
      <ng-icon size="1.5rem" name="radixDoubleArrowLeft"></ng-icon>
    </button>
    <div class="mb-4 flex items-center justify-start font-bold">
      <span>Ingredients</span>
    </div>
    <div class="flex flex-col items-start justify-start gap-2 pl-4">
      <div
        *ngFor="let topping of donut.toppings"
        class="flex items-center gap-2"
      >
        <ng-icon size="1.5rem" name="radixDot"></ng-icon>
        <span>{{ topping.name }}</span>
      </div>
    </div>
  </div>
</div>
