<div class="flex h-screen w-full items-center justify-center">
  <section
    class="flex min-w-[350px] flex-col gap-4 rounded-lg bg-bgc px-8 py-8 shadow-xl"
  >
    <div class="flex w-full justify-between">
      <div></div>
      <button class="font-semibold text-content underline underline-offset-2">
        sign up
      </button>
    </div>
    <form-login />

    <div class="flex items-center justify-center gap-2">
      <mat-divider class="h-[2px] flex-1 rounded-full bg-content/50" />
      <span class="select-none text-content">OR</span>
      <mat-divider class="h-[2px] flex-1 rounded-full bg-content/50" />
    </div>
    <button
      class="flex h-10 w-full items-center justify-center gap-2 rounded-lg bg-content text-bgc"
    >
      <ng-icon size="1.5rem" name="simpleGoogle"></ng-icon>
      Sign in with google
    </button>
  </section>
</div>
