<div
  class="from-bgc to-content text-content flex h-screen flex-col bg-gradient-to-b text-lg"
>
  <app-nav-bar
    [activePage]="activePage"
    class="flex h-14 w-full items-center p-2"
  />

  <section class="flex flex-1 flex-col items-center justify-center">
    <main
      class="hidden w-full max-w-7xl flex-[1_1_50%] flex-col items-center md:flex md:flex-row"
    >
      <div class="flex w-full flex-1 flex-col items-start gap-3 p-4">
        <div
          class="@container flex w-full max-w-lg select-none flex-col justify-center gap-2 pl-16"
        >
          <p class="text-[2rem] font-bold">Abs are cool.</p>
          <p
            class="@[285px]:text-[1.75rem] @[330px]:text-[2.1rem] text-[1.5rem] font-normal"
          >
            But have you ever tried donuts ?
          </p>
          <p
            class="@[235px]:text-[15px] @[285px]:text-[18px] text-[12px] font-thin leading-[1.25rem]"
          >
            Get your taste buds dancing! Dive into the world of delectable
            donuts now!
          </p>
        </div>
        <div class="flex w-full items-center justify-center">
          <button
            type="button"
            class="text-accent-fg bg-accent-2 hover:bg-accent-2/75 rounded-lg px-2 py-1"
            (click)="navigate('products')"
          >
            Order now
          </button>
        </div>
      </div>
      <div class="flex flex-1 items-center justify-center p-4">
        <img
          class="max-h-md max-w-md"
          src="https://d22f1kls6ex9ii.cloudfront.net/donuts/hero.png"
          alt=""
        />
      </div>
    </main>

    <main class="flex flex-1 flex-col md:hidden">
      <div class="flex flex-1 items-center justify-center p-4">
        <img
          class="max-h-md w-full max-w-md"
          src="https://d22f1kls6ex9ii.cloudfront.net/donuts/hero.png"
          alt=""
        />
      </div>

      <div class="flex w-full flex-1 flex-col items-center gap-3 p-4">
        <div
          class="@container flex w-full max-w-lg select-none flex-col justify-center gap-2"
        >
          <p class="text-[2rem] font-bold">Abs are cool.</p>
          <p
            class="@[285px]:text-[1.75rem] @[330px]:text-[2.1rem] text-[1.5rem] font-normal"
          >
            But have you ever tried donuts ?
          </p>
          <p
            class="@[235px]:text-[15px] @[285px]:text-[18px] text-[12px] font-thin leading-[1.25rem]"
          >
            Get your taste buds dancing! Dive into the world of delectable
            donuts now!
          </p>
        </div>
        <div class="flex w-full items-center justify-center">
          <button
            type="button"
            class="text-accent-fg bg-accent-2 hover:bg-accent-2/75 rounded-lg px-2 py-1"
            (click)="navigate('products')"
          >
            Order now
          </button>
        </div>
      </div>
    </main>

    <section class="flex h-fit w-full max-w-sm">
      <div
        class="text-bgc flex w-full select-none items-center justify-between py-2"
      >
        <app-steps variant="cart" />
        <app-steps variant="card" />
        <app-steps variant="enjoy" />
      </div>
    </section>
  </section>
</div>
