<div
  class="relative flex h-full w-full rounded-xl bg-content bg-opacity-90 text-bgc backdrop-blur-sm"
  mat-dialog-content
>
  <button
    (click)="onNoClick()"
    class="absolute right-4 top-4 flex h-[3rem] w-[3rem] select-none items-center justify-center rounded-full border border-bgc text-3xl text-bgc hover:cursor-pointer"
  >
    <ng-icon class="text-bgc" size="1.5rem" name="radixCross2"></ng-icon>
  </button>

  <!-- <app-login
    (click)="onNoClick()"
    class="absolute left-4 top-4 rounded-lg border-2 border-bgc bg-content"
  /> -->

  <div class="flex h-full flex-col items-center gap-4 py-20 text-bgc">
    <div *ngFor="let link of links" class="flex w-full justify-center">
      <button
        *ngIf="data.activePage | async as activePage"
        (click)="navigate(link.navigation)"
        class="w-[50%] px-3 py-1 text-xl"
        [class]="
          link.name === activePage ? ' rounded-lg border-2 border-bgc' : ''
        "
      >
        {{ link.name }}
      </button>
    </div>
  </div>
</div>
